<div id="blue">
    <div class="container">
        <div class="row">
            <h3>About.</h3>
        </div>
    </div>
</div>

<div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<img class="img-responsive" src="img/agency.jpg" alt="">
	 		</div>

	 		<div class="col-lg-6">
		 		<h4>About My Work.</h4>
		 		<p>I am a Software Developer and QA Automation Engineer. I have worked as a Quality Engineer for almost three years, for more than 2 years and to the present I am working as a Software Developer, both in back-end and front-end. </p>
		 		<p>My main and most beloved work tools for build code in the back-end are; Java language with the whole ecosystem of Spring.</p>
		 		<p>The front-end is a very fun game for me, the tools I most highlight are; Angular2, AngularJs and Bootstrap. I also have experience working with automated testing tools such as Selenium Web-Driver with Java and Ruby.</p>
        <p><br/><a href="https://ar.linkedin.com/in/arielduarte" target="_blank" class="btn btn-theme">Contact me</a></p>
	 		</div>
	 	</div>
	 </div>

   <div class="container mtb">
	 	<div class="row centered">
		 	<h3 class="mb">About Me</h3>

		 	<div style="">
				<div class="he-wrap tpl6">
				<img src="img/team/team00.jpg" class="img-circle" width="250">
				</div><!-- he wrap -->
				<h4>Ariel Duarte</h4>
				<h5 class="ctitle">Software Developer</h5>
				<p>I am a passionate person of technology and music, I am a fanatic of the death metal music.</p>
				<div class="hline"></div>
		 	</div>
	 	</div>
	 </div>
