<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Home.</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="flexsearch--wrapper">
            <form class="flexsearch--form">
              <div>
                <input [(ngModel)]="searchTerm" name="search" class="flexsearch--input" type="search" placeholder="find by title | author | type">
              </div>
              <button class="flexsearch--submit" (click)="getLyrics()"><i class="glyphicon glyphicon-search"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-right" style="margin-bottom: 20px; margin-top: 20px;">
                <a type="button" class="btn btn-theme" [routerLink]="['/add']">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Lyric
                </a>
            </div>
            <div class="loading" *ngIf="loading == 'show'">
              <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><span class="sr-only">Loading...</span>
            </div>

            <div class="text-center" *ngIf="navPages == 'show'">
            <ul class="mipagination modal-4">
              <li><a href="#" (click)="previous()" class="prev">
                <i class="fa fa-chevron-left"></i>
                  Previous
                </a>
              </li>
                <li><a><b>{{currentPage + 1}}</b></a></li>
                <li><a>of</a></li>
                <li><a><b>{{totalPages}}</b></a></li>
              <li><a href="#" (click)="next()" class="next"> Next
                <i class="fa fa-chevron-right"></i>
              </a></li>
            </ul></div>
            <table id="bookmarks-list-id" class="table table-hover">
                <tbody *ngFor="let lyric of lyrics">
                    <!--Black header card -->
                    <tr>
                        <td class="list-group-item-text header-card">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8 text-left">
                                    <h4><i class="fa fa-music"></i> {{lyric.name}}</h4>
                                </div>
                                <div class="col-xs-6 col-md-4 text-right">
                                    <div class="btn-group">
                                        <a [routerLink]="['/details', lyric._id]" class="btn btn-theme"><span class="glyphicon glyphicon-search"></span></a>
                                        <a [routerLink]="['/edit', lyric._id]" class="btn btn-theme"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a (click)="deleteLyric(lyric._id)" class="btn btn-theme"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--Body card result-->
                    <tr>
                        <td id="cwrap">
                            <p class="list-group-item-text">
                              <span *ngIf="lyric.artist" class="glyphicon glyphicon-user"></span>  {{lyric.artist}} &nbsp;
                              <span *ngIf="lyric.album" class="glyphicon glyphicon-user"></span>  {{lyric.album}} &nbsp;
                              <span *ngIf="lyric.country" class="glyphicon glyphicon-calendar"></span><small class="csmall"> {{lyric.country}} </small>
                              <span *ngIf="lyric.year" class="glyphicon glyphicon-calendar"></span><small class="csmall"> {{lyric.year}} </small>
                            </p>
                            <p *ngIf="lyric.lyricOrig" class="list-group-item-text text-justify"><small> {{lyric.lyricOrig}}</small></p>
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="height: 300px;" *ngIf="box == 'show'"></div>
        </div>
    </div>
</div>
