<div id="blue">
    <div class="container">
        <div class="row">
            <h3>{{title}}</h3>
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
 DETAIL
 ***************************************************************************************************************** -->
 <div style="height: 500px;" *ngIf="!lyric"></div>
 <div class="container mtb" *ngIf="lyric" >
 	<div class="row">

 		<! -- SINGLE POST -->
 		<div class="col-lg-8">
 			<! -- Blog Post 1 -->
	 		<a href="single-post.html"><h3 class="ctitle">Description.</h3></a>
      <p><small class="csmall">Artist: {{lyric.artist}}.</small> | <small class="csmall2">Album: {{lyric.album}}</small></p>
      <h4>English</h4>
      <p class="e2e-inner-html-bound" [innerHTML]="lyric.lyricOrig"></p>
      <h4>Spanish</h4>
	 		<p>{{lyric.lyricTrans}}</p>

	 		<div class="spacing"></div>
	 		<h6>SHARE:</h6>
	 		<p class="share">
	 			<a href="#"><i class="fa fa-twitter"></i></a>
	 			<a href="#"><i class="fa fa-facebook"></i></a>
	 			<a href="#"><i class="fa fa-tumblr"></i></a>
	 			<a href="#"><i class="fa fa-google-plus"></i></a>
	 		</p>
		</div>


 		<! -- SIDEBAR -->
 		<div class="col-lg-4">
	 		<h4>Lyric Information</h4>
	 		<div class="hline"></div>
      <p><b>Title:</b> {{lyric.name}}</p>
      <p><b>Artist:</b> {{lyric.artist}}</p>
      <p><b>Album:</b> {{lyric.album}}</p>
      <p><b>Year:</b> {{lyric.year}}</p>
      <p><b>Country:</b> {{lyric.country}}</p>
      <p><b><a  href="{{darkLyric}}" target="_blank"> DarkLyric.com</a></b></p>

	 		<div class="spacing"></div>

	 		<h4>Similar Bookmarks</h4>
	 		<div class="hline"></div>
				<ul class="popular-posts">
	                <li>
	                    <a href="#"><img src="img/thumb01.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 02/21/14</em>
	                </li>
	                <li>
	                    <a href="#"><img src="img/thumb02.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 03/01/14</em>
	                <li>
	                    <a href="#"><img src="img/thumb03.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 05/16/14</em>
	                </li>
	                <li>
	                    <a href="#"><img src="img/thumb04.jpg" alt="Popular Post"></a>
	                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
	                    <em>Posted on 05/16/14</em>
	                </li>
	            </ul>

	 		<div class="spacing"></div>

	 		<h4>Tags</h4>
	 		<div class="hline"></div>
	 			<p>
	            	<a class="btn btn-theme" href="#" role="button">Developer</a>
	            	<a class="btn btn-theme" href="#" role="button">Tips & Tricks</a>
	            	<a class="btn btn-theme" href="#" role="button">Code Snippets</a>
	            	<a class="btn btn-theme" href="#" role="button">UX</a>
	            	<a class="btn btn-theme" href="#" role="button">Angular 2</a>
	            	<a class="btn btn-theme" href="#" role="button">UI</a>
	            	<a class="btn btn-theme" href="#" role="button">Blog</a>
                <a class="btn btn-theme" href="#" role="button">Spring Boot</a>
	 			</p>
 		</div>
 	</div>
 </div>
